@import "../../../themes/generated/variables.base";
.menu-bar-drop-down {
  &.dx-overlay-wrapper {
    .dx-overlay-content {
      right: -1px;
      background: #ffffff;
      padding: 16px;
    }
  }
}
.menu-bar-container {
  color: $base-bg;
  .view-more {
    .dx-button-content {
      background: #ffffff;
      border-radius: 2px;
      .dx-icon {
        color: #00703c;
      }
    }
  }
  .dx-item-content {
    background-color: $base-accent;
    height: 30px;
    .menu-item {
      height: 30px;
    }
  }

  .dx-tab {
    background-color: $base-accent;
    color: $base-bg;

    padding-bottom: 4px;
    &.dx-item {
      width: 100px;
      .dx-tab-text {
        border-bottom: solid 2px transparent;
        font-weight: bold;
        font-size: 1.1em;
      }
    }
  }

  .dx-tab-selected {
    &:before {
      content: none;
    }
    .dx-tab-content {
      .dx-tab-text {
        border-bottom: solid 2px white;
      }
    }
  }
}
