.TinhTrangKhoangHen {
  .hook-form-datebox {
    width: 150px;

    input {
      font-weight: 600 !important;
    }
  }

  .header-content {
    position: sticky;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #bebebe;
  }

  .header-content {
    .dms-sidebar__toolbar {
      margin-right: 10px;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .dx-textbox {
    height: 25px !important;

    input {
      font-size: 12px !important;
    }

    .dx-placeholder {
      font-size: 11px !important;

      &::before {
        padding: 6px 9px 8px !important;
      }
    }
  }

  .btn-small {
    height: 25px !important;
  }

  label {
    font-size: 12px !important;
  }

  .checkbox-field {
    padding: 0px 5px;
    border-radius: 5px;
  }

  .hook-form-checkbox {
    margin: 0;
    height: 25px;

    label {
      margin: 0 5px;
    }
  }
}

// .dx-drawer-opened {
//   .TinhTrangKhoangHen {
//     .header-content {
//       left: 250px;
//       width: calc(100% - 250px);
//     }

//     .header-content {
//       .dms-sidebar__toolbar {
//         display: none;
//       }
//     }
//   }
// }
