.text-field {
  .dx-texteditor-container {
    border: 0.5px solid #5f7d95;
    border-radius: 3px;
    background: #ffffff;
    height: 30px;

    .dx-texteditor-input-container {
      .dx-placeholder {
        display: flex;
        height: 100%;
        align-items: center;
        height: 100%;
        font-size: 14px;
        color: #5f7d95;
        font-weight: 400;
        &:before {
        }
      }
    }
  }

  .dx-texteditor {
    &.dx-editor-filled {
      background: #ffffff;

      .dx-texteditor-container {
        border: 1px solid #5f7d95;
      }

      &:after {
        border: none;
      }

      &:before {
        border: none;
      }

      &.dx-state-hover {
        background: #ffffff;

        .dx-texteditor-container {
          border: 0.5px solid #5f7d95;
        }
      }

      &.dx-state-readonly {
        background: #f5f5f5 !important;
      }

      &.dx-state-focused {
        &:not(:has(.dx-state-readonly)) {
          .dx-texteditor-container {
            border: 0.5px solid #00703c;
          }
        }
      }
    }
  }
}

.dx-dropdowneditor {
  &.dx-texteditor {
    border: none;
    content: none;
    &.dx-state-focused {
      &:before {
        border: none;
      }
      &:after {
        border: none;
      }
      &:not(:has(.dx-state-readonly)) {
        .dx-texteditor-container {
          border: 0.5px solid #00703c;
        }
      }
    }
  }
  .dx-selectbox-container {
    .dx-texteditor-container {
      border: 0.5px solid #5f7d95;
    }
  }
  &:after {
    border: none;
  }

  &:before {
    border: none;
  }
}
.dx-selectbox-container {
  .dx-texteditor-container {
    border: 1px solid #5f7d95;
    &[readonly="true"] {
      background: #f5f5f5;
    }

    &.dx-state-hover {
      background: #ffffff;

      .dx-texteditor-container {
        border: 0.5px solid #5f7d95;
      }
    }

    &.dx-state-readonly {
      background: #f5f5f5 !important;
    }

    &.dx-state-focused {
      &:not(:has(.dx-state-readonly)) {
        .dx-texteditor-container {
          border: 0.5px solid #00703c;
        }
      }
    }

    .dx-texteditor-input-container {
      .dx-placeholder {
        padding: 0;
        font-size: 14px;
        color: #5f7d95;
        font-weight: 400;

        &:before {
          padding-top: 6px !important;
          padding-bottom: 8px !important;
        }
      }
    }
  }
}
.dx-texteditor {
  &.dx-editor-outlined {
    box-shadow: none !important;
    &.dx-state-hover {
      box-shadow: none !important;
    }
    &.dx-state-focused {
      border: solid 0.5px #00703c;
    }
  }
}
