.RO_Tab {
  background-color: transparent;

  .dx-tabpanel-tabs {
    background-color: transparent;
  }

  .dx-tabs {
    background-color: transparent;
  }

  .dx-tabs-wrapper {
    background-color: transparent;
  }

  .dx-tab {
    background-color: transparent;
    color: #0e223d;
  }

  .dx-tab-selected {
    color: #00703c;
    font-weight: 600;
  }
}
