.update-normal-customer-popup {
  .dx-popup-content-scrollable {
    overflow:  hidden !important;
  }
  #updateCustomer {
    label {
      width: 100px;
      min-width: 100px !important;
    }
  }
}
