@import "../../../themes/variables.common.scss";

.dms {
  .drawer {
    height: calc(100% - $header-bar-height);
  }

  #navigation-header {
    .dx-toolbar-items-container {
      height: $toolbar-height;
    }
  }
}
.dx-drawer-content {
  #content-wrapper {
    & > #responsive-box {
      & > .dx-box-flex.dx-box.dx-widget.dx-collection {
        & > .dx-item.dx-box-item:last-child {
          overflow: auto;
        }
      }
    }
  }
}
