.btn_view_ser_customercar {
    .dx-button {
        margin-right: 0;
        margin-left: 0;
    }
}
.container_search_cusname_btn{
  .dx-button{
    width: 100%;
  }
  .btn_supper_sm_size_v2 {
      height: 26px !important;
      min-height: 26px !important;
      width: 100%;
      min-width: 100%;
      svg {
        margin-right: 0px;
      }
    }
}

.Ser_CustomerCar_CreateNew_CustomerInfo_PopupViewDebit_Form{
  margin-bottom: 10px;
}