// .select-drop-grid {
//   .dx-texteditor-input-container {
//     .dx-datagrid-filter-row {
//       input {
//         background-color: #f5f5f5 !important;
//       }
//     }
//   }
// }

.select-drop-grid__popup {
  > input {
    background-color: #f5f5f5 !important;
  }
}

// .dx-overlay-content {
//   width: 500px !important;
// }
// .dx-overlay-content {
//   width: 500px !important;
// }
// .dx-overlay-content{
//   width: 500px !important;
// }>>>>>>> .r131777
// }
.select-drop-datagrid {
  .dx-fieldset {
    margin: 0 12px;
  }
  .dx-overlay-content {
    width: 500px !important;
  }
}
// .dx-overlay-content{
//   width: 500px !important;
// }>>>>>>> .r131777
