.TaoMoiCuocHen {
  .dx-scrollview-content {
    position: relative;
  }

  .header-content {
    position: sticky;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1200;
    border-bottom: 1px solid #bebebe;
    padding-right: 10px;
    min-height: 32px;
  }

  .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td {
    background-color: #b8e1b5 !important;
  }

  .btn-cancel {
    .dx-button-text {
      color: #000;
    }
  }

  .hook-form-textbox,
  .hook-form-selectbox,
  .hook-form-datebox,
  hook-form-upload {
    label {
      width: 100px;
      min-width: 100px;
      word-break: auto-phrase;
      font-size: 13px;
    }

    .dx-texteditor-input[aria-readonly="true"] {
      font-weight: 600 !important;
    }

    .dx-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .dx-selectbox-container
      .dx-texteditor-container
      .dx-texteditor-input-container
      .dx-placeholder:before {
      // padding: 11px 11px 8px !important;
    }

    input {
      font-weight: 600 !important;
    }
  }

  // .label-end {
  //   label {
  //     text-align: end;
  //   }
  // }

  // .dx-datagrid-header-panel {
  //   display: none;
  // }

  .lsgc {
    .base-gridview {
      height: 200px;
    }
  }

  .hook-form-textarea {
    label {
      width: auto;
      min-width: 100px;
      word-break: auto-phrase;
      font-size: 13px;
    }

    width: 100%;
  }

  .chuxe {
    .hook-form-textarea {
      height: 100%;
      margin: 0;

      .dx-textarea {
        height: calc(100% - 30px);
      }
    }
  }

  .total {
    label {
      font-weight: 600;
    }
  }

  .min-label {
    .hook-form-textbox {
      label {
        min-width: 55px;
      }
    }
  }

  // .header-content {
  //   .dms-sidebar__toolbar {
  //     margin-right: 10px;
  //     height: 24px;
  //     width: 24px;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //   }
  // }

  .ghichu {
    align-items: baseline;

    label {
      text-decoration: underline;
      font-style: italic;
    }
  }
}

.dx-drawer-opened {
  .TaoMoiCuocHen {
    // .header-content {
    //   left: 250px;
    //   width: calc(100% - 250px);
    // }

    .dtkh {
      label {
        min-width: 65px;
      }
    }

    .ttkh {
      input {
        font-size: 12px;
      }
    }

    .ttx {
      grid-template-columns: repeat(2, 1fr);
    }

    // .header-content {
    //   .dms-sidebar__toolbar {
    //     display: none;
    //   }
    // }
  }
}

.image-table {
  // .dx-datagrid-header-panel {
  //   display: none;
  // }

  .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td {
    background-color: rgb(207 255 233);
  }

  .dx-datagrid .dx-datagrid-headers .dx-row td[role="gridcell"],
  .dx-datagrid .dx-datagrid-rowsview .dx-row td[role="gridcell"] {
    font-size: 11px;
  }

  .dx-header-row td[role="columnheader"] .dx-datagrid-text-content {
    font-size: 11px;
  }
}

.custom-popup {
  .dx-popup-title {
    .dx-toolbar-label {
      .dx-item-content {
        font-size: 13px !important;
        font-weight: 600;
      }
    }
  }

  .dx-popup-content-scrollable {
    overflow: hidden;
  }

  .dx-popup-bottom {
    position: relative;
    z-index: 999;
  }
}

.btn-small {
  &.dx-button {
    height: 25px;
    min-height: 25px;

    .dx-button-text {
      font-size: 10px !important;
    }
  }
}

.main-title {
  font-size: 14px;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.small-monitor {
  label {
    font-size: 12px !important;
  }

  .dx-selectbox-container
    .dx-texteditor-container
    .dx-texteditor-input-container
    .dx-placeholder:before {
    padding-top: 3px !important;
    padding-bottom: 8px !important;
    font-size: 11px;
  }

  .dx-texteditor {
    height: 24px !important;
  }

  // input {
  //   font-size: 11px !important;
  //   padding: 0px 5px !important;
  // }

  .dx-textarea {
    height: 50px !important;
  }

  .dx-placeholder {
    font-size: 11px !important;

    &:before {
      padding-left: 5px !important;
    }
  }

  .hook-form-textbox,
  .hook-form-selectbox,
  .hook-form-datebox {
    margin: 2px 0;
  }

  .hook-form-textarea {
    label {
      div {
        height: 25px !important;
      }
    }

    textarea {
      font-size: 11px !important;
      padding: 0px 5px !important;
    }

    .dx-placeholder {
      font-size: 11px !important;

      &:before {
        padding: 5px 5px !important;
      }
    }
  }
}

.small-grid {
  td[role="columnheader"] {
    padding: 5px 13px !important;
  }

  .dx-datagrid-text-content {
    font-size: 12px !important;
  }

  td[role="gridcell"] {
    padding: 5px 13px !important;
    // font-size: 10px !important;
  }

  .dx-datagrid .dx-datagrid-headers .dx-row td[role="gridcell"],
  .dx-datagrid .dx-datagrid-rowsview .dx-row td[role="gridcell"] {
    font-size: 11px !important;
  }
}

@media (max-width: 1400px) {
  .small-grid {
    td[role="columnheader"] {
      padding: 3px 13px !important;
    }

    .dx-datagrid-text-content {
      font-size: 10px !important;
    }
  }

  .header-content {
    font-size: 11px !important;
  }

  .btn-small {
    &.dx-button {
      height: 20px;
      min-height: 20px;

      .dx-button-text {
        font-size: 10px !important;
      }
    }
  }
}

.load-panel-custom {
  z-index: 999999999 !important;
}

.AppDateTimeFromTime-wrapper {
  display: none !important;
}

.AppTimeFromTime-wrapper {
  display: none !important;
}

.custom-dropdown-select {
  .dx-popup-normal {
    min-height: 250px;
  }
}
